{% extends "base.html" %}

{% block title %}Informar Avistamiento - Aves en Chile{% endblock %}

{% block content %}
<main class="form">
    <h2>Formulario de Avistamiento de aves</h2>
    <p>Los campos marcados con (*) son obligatorios.</p>

    <!-- Contenedor para mostrar los errores de validacion -->
    <div id="mensajes-error" role="alert">
        {% if errores %}
            <ul style="color: red;">
                {% for error in errores %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <form id="form-avistamiento" action="{{ url_for('avistamiento') }}" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Información</legend>
            <p>
                <label for="ave-id">Nombre Del Ave (*):</label>
                <select id="ave_id" name="ave_id">
                    <option value=""> Seleccione un ave </option>
                    {% for ave in aves %}
                        <option value="{{ ave.id }}">{{ ave.nombre }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <label for="lugar">Lugar del Avistamiento (*):</label>
                <input type="text" id="lugar" name="lugar" placeholder="Ej: Parque Nacional La Campana">
            </p>
            <p>
                <label for="descripcion">Descripción / Observaciones:</label>
                <textarea id="descripcion" name="descripcion" rows="3" placeholder="Detalles opcionales del avistamiento"></textarea>
            </p>
        </fieldset>

        <fieldset>
            <legend>Fecha y Hora del Avistamiento</legend>
            <p>
                <label for="fecha">Fecha (*):</label>
                <input type="date" id="fecha" name="fecha">
            </p>
            <p>
                <label for="hora">Hora (*):</label>
                <input type="time" id="hora" name="hora">
            </p>
        </fieldset>

        <fieldset>
            <legend>Registro Visual</legend>
            <p>
                <label for="multimedia">Foto o Vídeo del Avistamiento (*):</label>
                <input type="file" id="multimedia" name="multimedia" accept="image/*,video/*">
            </p>
        </fieldset>

        <button type="submit">Registrar Avistamiento</button>
    </form>
</main>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/avistamientoVal.js') }}"></script>
{% endblock %}
