<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Unión de Ornitólogos de Chile{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <div id="auth-container">
            {% if session.get('voluntario_id') %}
                <span class="user-welcome">Hola, <strong>{{ session.get('voluntario_nombre') }}</strong></span>
                <a href="{{ url_for('logout') }}" class="btn-logout" title="Cerrar Sesión">Cerrar Sesión</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="auth-link">Registro / Iniciar Sesión</a>
            {% endif %}
        </div>

        <h1>Unión de Ornitólogos de Chile</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('listAvistamientos') }}">Ver Avistamientos</a></li>
                <li><a href="{{ url_for('avistamiento') }}">Informar Avistamiento</a></li>
                <li><a href="{{ url_for('dashboard') }}">Métricas</a></li>
            </ul>
        </nav>
    </header>

    <!-- Bloque dinamico se inyecta el contenido de cada pag -->
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>